body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;;
  background-image: url("https://images.pexels.com/photos/125457/pexels-photo-125457.jpeg?cs=srgb&dl=blue-sky-bright-clouds-125457.jpg&fm=jpg");
}
